---
import Layout from '~/layouts/BaseLayout.astro';
---

<Layout>
  <main class="flex items-center justify-center w-full h-screen bg-slate-50 dark:bg-slate-800">
    <h1 class="font-bold text-7xl">DevTobias</h1>
  </main>
</Layout>
